<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>App Detail</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/shop-item.css" rel="stylesheet">

    <link href="assets/css/appDetailstyle.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="scripts/jquery-2.2.4.min.js" defer></script><!-- jQuery should be first -->
    <script type="text/javascript" src="scripts/appDetailscript.js" defer></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home">DevHeaven</a>
            </div>
            <p class="navbar-text navbar-right"> Logged in as {{ session.username }} &nbsp &nbsp &nbsp <a href="/logout">Logout &nbsp &nbsp &nbsp</a></p>
          </div><!-- /.container-fluid -->
    </nav>            


    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="/appListing">Browse</a></li>
                <li><a href="/myapps">My Apps</a></li>
                <li><a href="/myprojects">My Projects</a></li>
                <li><a href="/myprofile">My Profile</a></li>
                <li><a href="/messages">Messages</a></li>
                <li><a href="/searchuser">Search User</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        
        <div id="page-content-wrapper">


            <section id="applyAppTop">
<!--                 <img src="./assets/images/placeholder.jpg"> -->
                <div>
                    <h2>Title: _________________________</h2>
                    <br>
                    <h2>Creator: _____________________</h2>
                </div>
            </section>


            <div class="thumbnail">
                <section id='detailmenu'>
                    <div id='detailmenuOwnerNotes'> Owner Notes </div>
                    <div id='detailmenuDescription'> Description </div>
                    <div id='detailmenuLookingfor'> Looking for </div>
                    <div id='detailmenuReward'> Reward </div>
                </section>
                <section id='detail'>
                    <section id = 'detailowvernotes' >
                        <h2>Owner Notes:</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </section>
                    <section id = 'detaildescription' class="Hidden">
                        <h2>App Description:</h2>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                    </section>
                    <section id = 'detaillookingfor' class="Hidden">
                        <h2>Looking For:</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                    </section>
                    <section id = 'detailreward' class="Hidden">
                        <h2>Reward:</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                    </section>
                </section>
            </div>

            <section id='dis'>
                Discussion
            </section>
            <div class="thumbnail">
                <section id="discussion" class="scrollable">
                    <ul id='issues'>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username2:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </li>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username3:</h5>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum.</p>
                        </li>
                        <li>
                            <h5>Username2:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                    </ul>
                    <ul id='recommendations' class='Hidden'>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username2:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </li>
                    </ul>
                    <ul id='general' class='Hidden'>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                        <li>
                            <h5>Username1:</h5>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </li>
                    </ul>
                </section>
            </div>

            <section id='addComment'>
                <textarea name="paragraph_text" rows="5"></textarea>
                <div class="form_element">
                    <input id="SubmitButton" type="submit" value="Submit to issues">
                </div>
                <div class="form_element">
                    <input id="SubmitButton" type="submit" value="Submit to recommendations">
                </div>
                <div class="form_element">
                    <input id="SubmitButton" type="submit" value="Submit to general feedbacks">
                </div>
            </section>


        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

</body>

</html>
